.containerTodo {
    background-color: #FFFFFF;
    margin-top: 4px;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.borderRadius{
    border-radius: 18px;
}
.formTodo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

.taskLabel {
    font-size: 18px; /* Moderate size for subtlety and elegance */
    font-weight: 300; /* Lighter font weight for a modern, airy feel */
    color: #5a5a5a; /* Soft gray for a modern look */
    letter-spacing: 1px; /* Increase spacing between letters */
    padding: 8px 0; /* Top and bottom padding */
    border-bottom: 2px solid darkgray; /* Underline the label with a solid accent color */
    margin-bottom: 1em; /* Space below the label */
    display: block; /* Block display to allow the border to span full width */
    width: 100%; /* Ensure the label takes full width */
    text-align: left; /* Align the text to the left */
}
.buttonForm{
    margin-left: auto;
    background: none; /* Remove background */
    color: inherit; /* Inherit the color from the parent */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    font: inherit; /* Inherit font settings from the parent */
    cursor: pointer; /* Keep the pointer cursor to maintain affordance */
    outline: inherit;
}
.addIcon{
    color: grey;
    font-size: 28px;
}

.underlineInput {
    background-color: transparent;
    width: 90%;
    margin: 0 5px;
    border: none;
    border-bottom: 2px solid #888;
    font-size: 24px;
}

/* Removes input shadow in iOS */
.underlineInput {
    -webkit-appearance: none;
    box-shadow: none;
}

/* Optional: Focus style */
.underlineInput:focus {
    outline: none;
    border-bottom: 2px solid #000; /* Change the color of the bottom border when focused */
}
input{
    font-size: 16px;
}

@media screen and (min-width: 701px) {
    .addIcon:hover{
        color:black;
    }
    .borderRadius{
        border-radius: 8px;
    }
}