html{
    font-family: "Inter var", sans-serif;
}
.container {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.border-oval {
    border-radius: 5px;
}
.button-primary {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-align: center;
    color: black;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.text-color-secondary{
    color: #525252
}

.button-primary:hover {
    background-color: rgb(249,250,251);
}

.button-primary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-primary:focus-visible {
    box-shadow: none;
}

.primary-color{
    color: #FFFFFF;
    background-color: #BA4945;
}
.secondary-color{
    color: #FFFFFF;
    background-color: #C15C5F;
}
.primary-color-alt{
    color: #FFFFFF;
    background-color: #38858F;
}
.secondary-color-alt{
    color: #FFFFFF;
    background-color: #4C919F;
}

.primary-color, .secondary-color, .primary-color-alt, .secondary-color-alt {
    transition: background-color 0.5s ease;
}
:root{
    background-color: yellow;
}